.home-header {
    display: flex;
    justify-content: flex-start;
    /* Aligns items at the start by default */
    padding: 10px 20px;
    background-color: #f8f8f8;
    /* Add your background color */
    font-family: Arial, sans-serif;
}

.header-content {
    display: flex;
    align-items: center;
    margin-left: auto;
    /* This moves the content to the right */
}

.Welcome {
    margin-right: 20px;
    /* Adds space between the Welcome message and the button */
}

.button-link {
    padding: 8px 15px;
    background-color: #0056b3;
    /* Change this to your preferred color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    /* If it's a Link, remove underline */
}

.button-link:hover {
    background-color: #003f7f;
}